[submodule "lib/tidy-html5"]
	path = lib/tidy-html5
	url = https://github.com/htacg/tidy-html5
[submodule "lib/tidy-html5-tests"]
	path = lib/tidy-html5-tests
	url = https://github.com/htacg/tidy-html5-tests
